<ion-view view-title="KSPC 88.7FM">
  <ion-content class="background">
  <div data-ng-controller="DashCtrl" data-ng-init="init()">
      <div class="stream-info">
        <!-- Album info-->
        <div class="album-info">
          <h3 id="titleNow"></h3>
          <p id="artistNow"></p>
          <h5 id="albumNow"></h5>
          <h4 id="DJNameNow"></h4>
        </div>
      </div>
      <div class="radio-player">
          <!-- Radio player -->
          <audio autoplay id="livestream">
            <source src="http://37.187.79.93:8419/stream192" type="audio/mpeg"/>
          </audio>
          <button ng-click="playPause()" id="play-pause" class="playPause"><i class="icon ion ion-ios-pause" style="color: white"></i></button>
          <div>
            <a class="button icon-left ion-ios-chatbubble-outline button-clear button-dark">Chatroom</a>
            <a class="button icon-left ion-mic-c button-clear button-dark" href="#/djprofile/djprofile-detail">DJ Profile</a>
          </div>
      </div>
      </div>
      <div ng-controller = "SocialMedia">
        <button class="button" ng-click="shareFacebook()">Share on Facebook</button>
      </div>
  </ion-content>
</ion-view>